// 📦 Imports
@import "../../../../styles/utils.scss";

// 🉐 Variables

.pc-device-middle-standing {
  z-index: 2;
  position: relative;
  top: toRem(4);
  margin: 0 auto;
  height: 0;
  width: toRem(48);
  border-bottom: toRem(112) solid $pc-base-color;
  border-left: toRem(32) solid transparent;
  border-right: toRem(32) solid transparent;

  animation: pc-device-middle-standing-visibility $anim-intro-duration linear,
    pc-device-middle-standing $anim-intro-duration linear;
}

.pc-device-standing-part1 {
  position: relative;
  margin: 0 auto;
  height: toRem(30);
  width: toRem(600);
  background-color: $pc-base-color;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;

  animation: pc-device-standing-part1-visibility $anim-intro-duration linear,
    pc-device-standing-part1-float-in $anim-intro-duration linear;
}

.pc-device-standing-part2 {
  $pc-device-standing-part-boxshadow-bg: rgba(102, 102, 102, 0.4);

  position: relative;
  margin: 0 auto;
  height: toRem(20);
  width: toRem(600);
  background-color: $pc-base-color;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: toRem(12);
  border-bottom-right-radius: toRem(12);
  box-shadow: 0 toRem(6) toRem(10) toRem(6)
    $pc-device-standing-part-boxshadow-bg;

  animation: pc-device-standing-part2-float-in $anim-intro-duration linear;
  top: 0;
}

// ✨ Animations
@keyframes pc-device-middle-standing-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pc-device-middle-standing {
  from {
    border-bottom: toRem(0) solid $pc-base-color;
  }
  to {
    border-bottom: toRem(112) solid $pc-base-color;
  }
}

@keyframes pc-device-standing-part1-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pc-device-standing-part1-float-in {
  from {
    height: toRem(0);
  }
  to {
    height: toRem(30);
  }
}

@keyframes pc-device-standing-part2-float-in {
  from {
    height: toRem(0);
  }
  to {
    height: toRem(20);
  }
}
