// 📦 Imports
@import "../../../../styles/utils.scss";

// 🉐 Variables

$colors-gold: #ffd700;
$colors-red: #cc0000;

$pc-container-size: toRem(800);

$pc-standing-height: toRem(30);
$pc-standing-margin-bottom: toRem(160);

$pc-standing-top: 0;
$pc-standing-top-floating: $pc-standing-top + toRem(320);

$border-size: toRem(0);

$pc-animation-time: 0.9s;
$standing-1-visibility-animation-duration: $pc-animation-time;
$standing-1-fade-in-animation-duration: $standing-1-visibility-animation-duration;

$standing-middle-visibility-animation-duration: $pc-animation-time;
$standing-middle-fade-in-animation-duration: $standing-middle-visibility-animation-duration;

.pc-device-middle-standing {
  z-index: 2;
  top: toRem(4);

  position: relative;
  border-bottom: toRem(112) solid #d3d3d3;
  border-left: toRem(32) solid transparent;
  border-right: toRem(32) solid transparent;
  height: 0;
  width: toRem(48);
  left: calc(50% - 48px);

  animation: pc-device-middle-standing-visibility
      $standing-middle-visibility-animation-duration linear,
    pc-device-middle-standing $standing-middle-fade-in-animation-duration linear;
}

.pc-device-standing-part1 {
  top: 0;

  position: relative;
  margin: 0 auto;
  height: toRem(30);
  width: toRem(600);
  background-color: #d3d3d3;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  border-top: $border-size solid $colors-red;
  border-left: $border-size solid $colors-red;
  border-right: $border-size solid $colors-red;
  overflow: hidden;

  animation: pc-device-standing-part1-visibility
      $standing-1-visibility-animation-duration linear,
    pc-device-standing-part1-float-in $standing-1-fade-in-animation-duration
      linear;
}

.pc-device-standing-part2 {
  position: relative;
  margin: 0 auto;
  height: toRem(20);
  width: toRem(600);
  background-color: #d3d3d3;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: $border-size solid $colors-red;
  border-left: $border-size solid $colors-red;
  border-right: $border-size solid $colors-red;
  box-shadow: 0px 6px 10px 6px rgba(102, 102, 102, 0.4);

  animation: pc-device-standing-part2-float-in $pc-animation-time linear;
  top: 0;
}

// ✨ Animations
@keyframes pc-device-middle-standing-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pc-device-middle-standing {
  from {
    border-bottom: toRem(0) solid #d3d3d3;
  }
  to {
    border-bottom: toRem(112) solid #d3d3d3;
  }
}

@keyframes pc-device-standing-part1-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pc-device-standing-part1-float-in {
  from {
    height: toRem(0);
  }
  to {
    height: toRem(30);
  }
}

@keyframes pc-device-standing-part2-float-in {
  from {
    height: toRem(0);
  }
  to {
    height: toRem(20);
  }
}
