// 📦 Imports

// 🉐 Variables

//🌈 Colors Variables
$pc-base-color: #d3d3d3;
$pc-boxshadow-color: rgba(102, 102, 102, 0.4);
$pc-code-text-color: #19ffaf;
$pc-code-effect-color-hex: #3f3;
$pc-code-effect-color-rgba: rgba(51, 255, 51, 0.75);

// ✨ Animation Variables
$anim-intro-duration: 0.8s;

// Functions
@function toRem($base) {
  $result: $base * 0.0625rem;
  @return $result;
}
