// 📦 Imports
@import "../../../styles/utils.scss";

// 🉐 Variables
$power-color: #d7d2d3;
$power-color-hover: #19ffaf;

div.frse-portfolio-start.OFF {
  position: absolute;
  top: toRem(140);
  left: toRem(320);
  width: toRem(160);
  height: toRem(160);
  border-radius: toRem(160);
  text-decoration: none;
  border: none;

  animation-name: start-visibility;
  animation-duration: 9.6s;
  animation-timing-function: linear;

  outline: none;
  border-color: $power-color;
  box-shadow: 0 toRem(1) toRem(24) $power-color;

  transform: scale(0.4);

  .frse-portfolio-power1 {
    position: absolute;
    width: toRem(70);
    height: toRem(70);
    border: toRem(20) solid $power-color;
    top: calc(50% - 55px);
    left: calc(50% - 55px);
    border-radius: 100%;
    box-shadow: 0px 0px 16px $power-color;
  }
  .frse-portfolio-power2 {
    top: 6px;
    border: 5px solid #151515;
    left: 65px;
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: $power-color;
    border-radius: 20px;
    z-index: 800;
    box-shadow: 0px 0px 6px $power-color;
    opacity: 1;
  }

  &:hover {
    border-color: $power-color-hover;
    box-shadow: 0 1px 24px $power-color-hover;
    cursor: pointer;

    .frse-portfolio-power1 {
      border: 20px solid $power-color-hover;
      box-shadow: 0px 0px 16px $power-color-hover;
    }

    .frse-portfolio-power2 {
      background-color: $power-color-hover;
      box-shadow: 0px 0px 6px $power-color-hover;
    }
  }
}

div.frse-portfolio-start.ON {
  position: absolute;
  top: 13.75rem;
  left: -37rem;
  width: 124rem;
  height: 0;
  border-radius: toRem(160);
  text-decoration: none;
  border: none;

  animation-name: start-visibility;
  animation-duration: 9.6s;
  animation-timing-function: linear;

  outline: none;
  border-color: $power-color;
  box-shadow: 0 toRem(1) toRem(24) $power-color;

  transform: scale(0.4);

  transition: all ease-in-out 1s;
}

// ✨ Animations
/**
  - Animation to display the power screen
**/
@keyframes start-visibility {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
