// 📦 Imports
@import "../../../../styles/utils.scss";

// 🉐 Variables
$keyboard-animation-duration-visibility: 4.8s;
$keyboard-animation-duration-fade-in: 2s;
$keyboard-animation-delay: $anim-intro-duration;

.pc-device-keyboard {
  $box-shadow-color: #7e7e7e;

  position: relative;
  margin: toRem(46) auto 0 auto;
  height: toRem(120);
  width: toRem(720);
  border-radius: toRem(40) toRem(40) toRem(100) toRem(100);
  background-color: $pc-base-color;

  animation: keyboard-visibility $keyboard-animation-duration-visibility linear,
    keyboard-fade-in $keyboard-animation-duration-fade-in linear
      $keyboard-animation-delay;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0 toRem(12) toRem(2) $box-shadow-color;
  -moz-box-shadow: 0 toRem(12) toRem(2) $box-shadow-color;
  box-shadow: 0 toRem(12) toRem(2) $box-shadow-color;
}

// ✨ Animations
@keyframes keyboard-visibility {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes keyboard-fade-in {
  from {
    top: 120px;
  }
  to {
    top: 0px;
  }
}
