// 📦 Imports
@import "../../styles/utils.scss";

// 🉐 Variables
div.frse-portfolio-content{
  &.OFF{
    .frse-portfolio-content-profile{
      display: none;
    }
  }
  &.ON{
    position: absolute;
    left: 8px;
    top: 4px;
    width: 98%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;

    .frse-portfolio-content-profile{
      animation-name: cheat-visibility;
      animation-duration: 2.4s;

      .profile-picture{
        animation-name: start-profile-visibility;
        animation-duration: 3.2s;
        animation-timing-function: linear;
        animation-delay: 2.4s;
      }
    }
  }
}


@keyframes cheat-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes start-profile-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}