// 📦 Imports
@import "../../styles/utils.scss";

// 🉐 Variables
div.frse-portfolio-content {
  &.OFF {
    .frse-portfolio-content-profile {
      display: none;
    }
  }
  &.ON {
    position: absolute;
    left: 8px;
    top: 4px;
    width: 98%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;

    .frse-portfolio-content-profile {
      // animation-name: cheat-visibility;
      // animation-duration: 2.4s;
      display: flex;
      align-items: center;
      position: absolute;
      top: 164px;

      .frse-btn-container {
        &.frse-about-me {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 1.2s;
          animation-fill-mode: backwards;
        }
        &.frse-skills {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 1.6s;
          animation-fill-mode: backwards;
        }
        &.frse-projects {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 2s;
          animation-fill-mode: backwards;
        }
        &.frse-hobbies {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 2.4s;
          animation-fill-mode: backwards;
        }
      }
    }
  }
}

@keyframes cheat-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// Reuse same strategy for other elements
@keyframes start-btn-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
