// 📦 Imports
@import "../../styles/utils.scss";

// 🉐 Variables
div.frse-portfolio-content {
  &.OFF {
    .frse-portfolio-content-profile {
      display: none;
    }
  }
  &.ON {
    position: absolute;
    left: 8px;
    top: 4px;
    width: 98%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;

    .frse-portfolio-content-profile {
      &.about-me-collapsed,
      &.skills-collapsed,
      &.projects-collapsed,
      &.hobbies-collapsed {
        display: flex;
      }

      .frse-btn-container {
        &.frse-about-me {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 1.2s;
          animation-fill-mode: backwards;
        }
        &.frse-skills {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 1.6s;
          animation-fill-mode: backwards;
        }
        &.frse-projects {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 2s;
          animation-fill-mode: backwards;
        }
        &.frse-hobbies {
          animation-name: start-btn-visibility;
          animation-duration: 2.4s;
          animation-timing-function: ease-in;
          animation-delay: 2.4s;
          animation-fill-mode: backwards;
        }
      }

      //ABOUT ME EXPANDED
      &.about-me-expanded {
        // Move Icon Upwords and transform
        width: 98%;
        height: 98%;
        left: 260px;
        transition: all ease 1.2s;

        .frse-btn-container {
          align-items: flex-start;

          &.frse-about-me {
            .frse-btn {
              background-color: #151515;
              margin-left: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 0;
              z-index: 999;
              box-shadow: 1px 1px 6px #111;
              -webkit-box-shadow: 1px 1px 6px #111;
              -moz-box-shadow: 1px 1px 6px #111;

              &:hover {
                border-bottom-left-radius: 0;
                border-top-right-radius: 0;
                box-shadow: 1px 1px 6px #111;
                -webkit-box-shadow: 1px 1px 6px #111;
                -moz-box-shadow: 1px 1px 6px #111;
              }
            }
          }
        }

        // Hide all the other apps
        .frse-btn-container {
          &.frse-skills,
          &.frse-projects,
          &.frse-hobbies {
            opacity: 0;
            .frse-btn {
              cursor: unset;
            }
          }
        }
      }

      //SKILLS EXPANDED
      &.skills-expanded {
        // Move Icon Upwords and transform
        width: 98%;
        height: 98%;
        left: 260px;
        transition: all ease 1.2s;

        // Hide ABOUT ME
        .frse-about-me {
          width: 0;
        }
        .frse-btn-container {
          align-items: flex-start;

          &.frse-skills {
            .frse-btn {
              background-color: #151515;
              margin-left: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 0;
              z-index: 999;
              box-shadow: 1px 1px 6px #111;
              -webkit-box-shadow: 1px 1px 6px #111;
              -moz-box-shadow: 1px 1px 6px #111;

              &:hover {
                border-bottom-left-radius: 0;
                border-top-right-radius: 0;
                box-shadow: 1px 1px 6px #111;
                -webkit-box-shadow: 1px 1px 6px #111;
                -moz-box-shadow: 1px 1px 6px #111;
              }
            }
          }
        }

        // Hide all the other apps
        .frse-btn-container {
          &.frse-about-me,
          &.frse-projects,
          &.frse-hobbies {
            opacity: 0;
            .frse-btn {
              cursor: unset;
            }
          }
        }
      }
    }
  }
}

// Reuse same strategy for other elements
@keyframes start-btn-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
