$app-inside-color: #fff;
$app-border: #d3d3d3;
$app-box-shadow: #2b2b2b;

// About Me Styles
$app-about-me-head: #edc1b4;
$app-about-me-body: $app-box-shadow;

// Skills Styles
$app-skills-circle: #e1a85a;
$app-skills-circle-inside: #fff;
$app-skills-badge: #e90a0a;

// Projects Styles
$app-projects-color: #4c4cff;
$app-projects-color2: #3131a9;

// Hobbies styles
$app-project-heart-1: #e95454;
$app-project-heart-2: #ed4141;
$app-project-heart-3: #d92828;

.frse-app-icon {
  position: relative;
  width: 52px;
  height: 52px;
  border: 3px solid $app-border;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px $app-box-shadow;
  -webkit-box-shadow: 0px 0px 10px 0px $app-box-shadow;
  -moz-box-shadow: 0px 0px 10px 0px $app-box-shadow;
  overflow: hidden;

  &-about-me {
    background-color: $app-inside-color;

    .frse-about-me-body {
      position: absolute;
      bottom: -4px;
      left: 13px;
      width: 18px;
      height: 20px;
      // border: 2px solid #111111;
      border-radius: 30% 30% 0 0;
      background-color: $app-about-me-body;
      z-index: 300;
    }
    .frse-about-me-head {
      position: absolute;
      bottom: 12px;
      left: 10px;
      width: 24px;
      height: 24px;
      border-radius: 20px;
      // border: 2px solid #111111;
      background-color: $app-about-me-head;
      z-index: 301;
    }
  }

  &-skills {
    background-color: $app-inside-color;

    .frse-skills-badge-top {
      position: absolute;
      bottom: 15px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      // border: 2px solid black;
      left: 11px;
      background-color: $app-skills-circle;
      z-index: 400;

      .frse-skills-badge-container {
        position: relative;

        .frse-skills-badge-top-star {
          position: absolute;
          right: -88px;
          top: -23px;
          color: $app-skills-circle-inside;
          border-right: 100px solid transparent;
          border-bottom: 70px solid $app-skills-circle-inside;
          border-left: 100px solid transparent;
          transform: rotate(35deg) scale(0.06);
          z-index: 999;

          &::before {
            border-bottom: 80px solid $app-skills-circle-inside;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            position: absolute;
            height: 0;
            width: 0;
            top: -45px;
            left: -65px;
            display: block;
            content: "";
            transform: rotate(-35deg);
          }
          &::after {
            position: absolute;
            display: block;
            color: $app-skills-circle-inside;
            top: 3px;
            left: -105px;
            width: 0px;
            height: 0px;
            border-right: 100px solid transparent;
            border-bottom: 70px solid $app-skills-circle-inside;
            border-left: 100px solid transparent;
            transform: rotate(-70deg);
            content: "";
          }

          &-border {
            position: absolute;
            right: -88px;
            top: -23px;
            color: #111111;
            border-right: 100px solid transparent;
            border-bottom: 70px solid #111111;
            border-left: 100px solid transparent;
            transform: rotate(35deg) scale(0.09);

            &::before {
              border-bottom: 80px solid #111111;
              border-left: 30px solid transparent;
              border-right: 30px solid transparent;
              position: absolute;
              height: 0;
              width: 0;
              top: -45px;
              left: -65px;
              display: block;
              content: "";
              transform: rotate(-35deg);
            }
            &::after {
              position: absolute;
              display: block;
              color: #111111;
              top: 3px;
              left: -105px;
              width: 0px;
              height: 0px;
              border-right: 100px solid transparent;
              border-bottom: 70px solid #111111;
              border-left: 100px solid transparent;
              transform: rotate(-70deg);
              content: "";
            }
          }
        }
      }
    }
    .frse-skills-badge-bottom-left {
      position: absolute;
      bottom: 2px;
      left: 12px;
      width: 8px;
      height: 25px;
      background: $app-skills-badge;
      border-radius: 4px;
      transform: rotate(35deg);

      &-triangle {
        position: absolute;
        bottom: -1px;
        left: -3px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $app-inside-color;

        // &-border {
        //   position: absolute;
        //   bottom: 0px;
        //   left: -1px;
        //   width: 0;
        //   height: 0;
        //   border-left: 5px solid transparent;
        //   border-right: 5px solid transparent;
        //   border-bottom: 5px solid black;
        // }
      }
    }
    .frse-skills-badge-bottom-right {
      position: absolute;
      bottom: 3px;
      left: 25px;
      width: 8px;
      height: 20px;
      background: $app-skills-badge;
      // border: 2px solid black;
      border-radius: 4px;
      transform: rotate(150deg);

      &-triangle {
        position: absolute;
        bottom: 14px;
        left: -3px;
        transform: rotate(180deg);
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $app-inside-color;

        // &-border {
        //   position: absolute;
        //   bottom: 15px;
        //   left: -1px;
        //   transform: rotate(180deg);
        //   width: 0;
        //   height: 0;
        //   border-left: 5px solid transparent;
        //   border-right: 5px solid transparent;
        //   border-bottom: 5px solid black;
        // }
      }
    }
  }

  &-projects {
    background-color: $app-inside-color;

    &-arrow-left-1 {
      position: absolute;
      width: 14px;
      height: 4px;
      // border: 2px solid black;
      border-radius: 4px;
      bottom: 17px;
      background-color: $app-projects-color;
      transform: rotate(36deg);
      left: 2px;
    }
    &-arrow-left-2 {
      position: absolute;
      width: 14px;
      height: 4px;
      // border: 2px solid black;
      border-radius: 4px;
      bottom: 23px;
      background-color: $app-projects-color2;
      transform: rotate(152deg);
      left: 2px;
    }
    &-arrow-middle {
      position: absolute;
      width: 28px;
      height: 4px;
      // border: 2px solid black;
      border-radius: 4px;
      bottom: 20px;
      background-color: $app-projects-color;
      transform: rotate(109deg);
      left: 9px;
      z-index: 999;
    }
    &-arrow-right-1 {
      position: absolute;
      width: 14px;
      height: 4px;
      // border: 2px solid black;
      border-radius: 4px;
      bottom: 23px;
      background-color: $app-projects-color;
      transform: rotate(36deg);
      left: 30px;
    }
    &-arrow-right-2 {
      position: absolute;
      width: 14px;
      height: 4px;
      // border: 2px solid black;
      border-radius: 4px;
      bottom: 17px;
      background-color: $app-projects-color2;
      transform: rotate(152deg);
      left: 30px;
    }
  }

  &-hobbies {
    background-color: $app-inside-color;

    &-heart-shape {
      position: relative;
      width: 16px;
      height: 16px;
      background-color: $app-project-heart-1;
      bottom: -18px;
      left: 15px;
      transform: rotate(45deg);
      z-index: 999;

      &::before {
        position: absolute;
        bottom: 0px;
        left: -8px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        content: "";
        background-color: $app-project-heart-2;
      }

      &::after {
        position: absolute;
        bottom: 0px;
        top: -8px;
        right: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        content: "";
        background-color: $app-project-heart-3;
      }

      // &-border {
      //   position: relative;
      //   width: 16px;
      //   height: 16px;
      //   background-color: #111111;
      //   bottom: -3px;
      //   left: 15px;
      //   transform: rotate(45deg) scale(1.2);

      //   &::before {
      //     position: absolute;
      //     bottom: 0px;
      //     left: -8px;
      //     width: 16px;
      //     height: 16px;
      //     border-radius: 50%;
      //     content: "";
      //     background-color: #111111;
      //   }

      //   &::after {
      //     position: absolute;
      //     bottom: 0px;
      //     top: -8px;
      //     right: 0;
      //     width: 16px;
      //     height: 16px;
      //     border-radius: 50%;
      //     content: "";
      //     background-color: #111111;
      //   }
      // }
    }
  }
}

.icon-b-tl {
  border-radius: 0 100% 100% 100%;
}
.icon-b-tr {
  border-radius: 100% 0 100% 100%;
}
.icon-b-bl {
  border-radius: 100% 100% 0;
}
.icon-b-br {
  border-radius: 100% 100% 100% 0;
}
