// 📦 Imports
@import "../../../../styles/utils.scss";

// 🉐 Variables
$screen-width-desktop: toRem(800);
$screen-height-desktop: toRem(436);

.pc-device-screen {
  z-index: 4;
  position: relative;
  height: $screen-height-desktop;
  width: $screen-width-desktop;
  background-color: #151515;
  border: toRem(12) solid $pc-base-color;
  box-shadow: 0 toRem(6) toRem(10) toRem(6) $pc-boxshadow-color;
  border-radius: 8%;
  top: toRem(4);
  margin: 0 auto;

  animation: pc-device-screen-visibility $anim-intro-duration linear,
    pc-device-screen-fade-in $anim-intro-duration linear;
}

// ✨ Animations
@keyframes pc-device-screen-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pc-device-screen-fade-in {
  from {
    height: toRem(0);
  }
  to {
    height: toRem(436);
  }
}
